{% extends "layout.html" %}
{% block content %}
<!--Enter Name -->
<div style="padding:10px;">
  <div class="enter-name">
    <form action="{{ url_for('simulation') }}" method="GET" enctype="multipart/form-data">
      <p>Ce détecteur de masque permet d'identifier sur la photo importée si les personnes portent un masque ou non.</p>
      <p>Exemple : </p>
      <div id="lediv" style ="text-align: center">
      <img src="static\img\result_masque-protection-coronavirus.jpg" style ="max-width: 300px; max-height: 300px">
      
      </div>
      <div id="lediv" style ="text-align: center; margin-top: 30px;">
      <input type="submit" value="Faire une simulation" class="bouton">
      </div>
     <!-- <button type="button">Predict</button> -->
    </form>
  </div>
</div>
{% endblock %}
